.search-bar__hero {
    width: 100%;
    & input {
        width: 40%;
        background-color: var(--color-dark);
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        border: var(--color-yellow) 1px solid;
    }
}

.trending-searches {
    display: flex;
    gap: 1rem;
    align-items: center;
    & .trending-searches__btn {
        padding: 0.5rem 1rem;
        border: 1px solid #e0e0e0;
        border-radius: 2rem;
    }
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
}
