/* header.css */
.header {
    background-color: var(--color-background);
    color: var(--color-dark);
    width: 100%;
    display: flex;
    padding: 1rem 2rem;

    & .header__logo {
        width: 10rem;
    }
    & .nav {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
        margin-left: auto;

        & .nav__right {
            display: flex;
            gap: 1rem;
            align-items: center;
        }
        & .nav__left {
            align-items: center;
            display: flex;
            gap: 1rem;
        }
    }
}
